@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');


body{
  padding: 0%;
  margin: 0%;
  font-family: 'Poppins';
}

#first h2{
height: 32px;
opacity: 1;
margin-top: 184px;
margin-left: 70px;
font-size: 40px;

font-family: "Poppins";
font-weight: 500;
letter-spacing: -1px;

}

.mobile{
  display: none !important;
}

#first h1{
margin-left: 70px;

font-family: "DM Serif Display";
font-weight: 300;
font-size: 82px;
line-height: 10%;
vertical-align: middle;
letter-spacing: -1px;

margin-top: 100px;
margin-bottom: 150px;
}

#first h4{
  margin-left: 70px;
  font-size: 23px;
  font-family: "Poppins";
  font-weight: 500;
  
}

#first h5{
  margin-left: 20px;
  font-size: 23px;
  font-family: "Poppins";
  font-weight: 500;
}

.bluetext{
  color: blue;
}

#t2{
  position: relative;
  z-index: 20 !important;
}

#heroimg{
position: absolute;
opacity: 1;
top: 259px;
right: 30px;
width: 690px;
height: auto;
object-fit: cover;
z-index: 0;
overflow: hidden;
}

.download{
  margin-left: 70px;
}

.download button{
  cursor: pointer;

  width: 170px;
  height: 120px;
  padding: 0%;
  background-color: transparent;
  border: none;
}

.download button img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#toptitle{
    margin: 0%;
    width: 98%;
    text-align: center;
    height: max-content;
    font-size: 55px;
    line-height: 130%;
    font-weight: 600;
    margin-bottom: 50px;
}

#toptitle .italic{
  font-weight: 400;
}

.poppins{
  font-family: 'Poppins';
}

.italic{
  font-style: italic;
}

.serif{
font-family: 'DM Serif Display' !important;
}

.white{
  color: white !important;
}
