#fourthsection{
    background-color: rgb(255, 255, 255);
    height: max-content;
    position: relative;
    margin: 0%;
    top: 20vh;
    color: #000;
    padding-inline: 40px;
}



#topimage{
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.features-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 40px;
  background-color: #ffffff;
  color: rgb(2, 2, 2);
  font-family: 'Segoe UI', sans-serif;
  margin: auto;
}

.feature {
  background-color: #ffffff;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 160px;
  border: 2px solid #d8d8d8;
  font-size: large;
  padding: 50px;
  padding-bottom: 70px;
}

.feature.large {
  grid-column: span 2;
  height: 290px;
  display: flex;
  flex-direction: row;
}

.feature.large img{
  width: 30%;
}

#large span{
  width: 100%;
}

#large h2{
  font-size: 3.5em;
  margin-bottom: 0%;
}

#large p{
  margin: 0%;
}


.feature h2,
.feature h3 {
  width: max-content;
  font-family: 'Poppins';
  font-weight: 600 !important;
  font-size: 2.4em;
  margin-block: 0% !important;
  letter-spacing: -1px;
}


.feature span{
  color: rgb(0, 0, 0) !important;
  display: flex;
  flex-direction: column;
  height: max-content;
  height: 50%;
  margin: 0%;
  position: relative;
  margin-top: auto;
  font-family: 'Poppins';
  letter-spacing: -1px;
}

.leftcol, .rightcol{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 130vh;
}


#f2{
    flex: 3;
}

.feature h3{
 font-weight: 700;
}

#f2 img{
  height: auto;
  height: 70%;
  width: 50%;
  object-fit: contain;
}

.feature span p{
  font-family: 'Poppins';
  font-size: 1.7em;
  color: rgb(81, 81, 81);
  width: 70%;
  margin-block: 6px;
    font-weight: 500;
    line-height: 120%;

}

#f3{
    flex: 1.6;
    padding-bottom: 100px;
    position: relative;
}

#f3 img{
  position: absolute;
  right: 0px;
  width: 35%;
  transform: translate(-30px, -30px);
}

#f4{
flex: 1;
}

#f4 img{
  position: absolute;
  width: 20vw;
  right: 10%;
  transform: translate(50px, -40px);
}

#f5{
flex: 1;
}

#f5 img{
  position: absolute;
  right: 4%;
  width: 23%;
  transform: translate(0px, -70px);
}

@media screen and (max-width: 800px) {

  #toptitle{
    font-size: 34px;
    font-weight: 600;
  }

  #fourthsection{
    padding: 0%;
  }

.featurescontainer_mobile{
  display: flex;
  flex-direction: column;
  gap: 50px;

  align-items: center;
  justify-content: center;
  justify-items: center;
}


.mfeature{
  width: 80%;
  height: max-content;
  border: 2px solid #d8d8d8;
  padding: 20px;
  border-radius: 35px;
  font-family: 'Poppins';
  padding-bottom: 30px;
}

.mfeature h1{
    font-family: 'Poppins';

  font-size: 35px;
  margin: 0%;
  margin-top: 20px;
}

.mfeature p{
  margin: 0%;
  font-size: 20px;
  color: var(--gray);
  font-weight: 500;
}

.mfeature img{
  width: 100%;
}

}