.ownerspage {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 120px;
}

#toptag{
    background-color: #FF385C;
    color: white;
    padding: 6px;
    padding-inline: 20px;
    border-radius: 30px;
}

.ownerspage h1{
 font-family: 'DM Serif Display';
font-weight: 600;
font-size: 90px;
letter-spacing: -2px;
text-align: center;
margin-block: 0px;
}

.oldman-wrapper {
    position: relative;
    width: 70%;
}


.lightgraytext{
    font-family: 'Poppins';
font-weight: 400;
font-size: 30px;
color: var(--gray);

letter-spacing: 0%;
text-align: center;
vertical-align: middle;
text-transform: lowercase;
width: 50vw;

}

.oldman-wrapper img {
    width: 100%;
    display: block;
}

.imp-button{
    border: 3px solid;
    font-weight: 700;
    border-radius:50px;
    background-color: white;
    padding: 15px;
    padding-inline: 40px;
    font-size: 25px;
    margin-bottom: 100px;
}

.cardcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 90px;
    padding: 50px;
}

.ownercard{
    width: 400px;
}

.secondblack{
    font-weight: 500;
    width: 100%;
    text-align: center;
    font-size: 25px;
}

.oldman-wrapper::before {
    content: '';
    position: absolute;
    top: 15;
    left: -15;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background: black;
    z-index: -1;
}
