@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');



/* Back Button */
.back-link {
    display: inline-block;
    margin-bottom: 20px;
    border: none;
    background-color: white;
}

.back-button {
    max-width: 50px;
    transition: opacity 0.3s ease;
}

.back-button:hover {
    opacity: 0.7;
}

/* Page Title */

.pagesbody{
    padding: 90px;
    padding-inline: 320px;
}

.pagesbody h1{
    font-family: "DM Serif Display", serif;
    font-weight: 400 !important;
    font-style: normal;
    font-size: 66px;
    margin-block: 200px;
}

.pagesbody p{
    font-size: 30px;
    font-weight: 400;
    color: var(--gray);
}

.bold{
    font-weight: 600 !important;
}

.semibold{
    font-weight: 500 !important;
}

.black{
    color: black !important;
}

.pagesbody a{
    color: rgb(35, 134, 221);
    text-decoration: none;
}

#manifesto h1{
    text-align: center;
}

#manifesto p{
    text-align: justify;
    color: rgb(123, 123, 123);
}

#stamp{
    margin-top: 100px;
    width: 100%;
    height: 400px;
    object-fit: contain;
}

#letter p{
    text-align: justify;
    font-weight: 300;
    margin-inline: 100px;
    color: rgb(123, 123, 123);
}

.whitebox{
    margin-top: 200px;
    margin-bottom: 400px;
    width: auto;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 32px;
    border: 2px solid rgb(0, 0, 0);
    padding: 20px;
    height: 40vh;
    padding-block: 60px;
}

.whitebox h1{
    margin: 0%;
    width: 90%;
    text-align: center;
}

.whitebox p{
    font-size: 30px;
}

.whitebox button{
    border: 3px solid;
    color: rgb(0, 0, 0);
    font-weight: 700;
    border-radius:50px;
    background-color: transparent;
    padding: 15px;
    padding-inline: 40px;
    font-size: 25px;
    margin-top: 20px;

}

/* Responsive Design */
@media screen and (max-width: 768px) {

    #letter p{
    text-align: justify;
    font-weight: 300;
    margin-inline: 100px;
    color: rgb(123, 123, 123);
    margin-inline: 0px;
    font-size: large;
}

    .back-button{
        width: 33px;
    }

    #big{
        font-size: 20px;
    }
    
    .pagesbody {
        font-size: 1rem;
        line-height: 2rem;
         padding: 10%;
        padding-top: 100px;
    }

    .pagesbody h1{
        font-size: 30px;
    }

    .pagesbody p{
        font-size: 14px;
        line-height: 150%;
    }
}

/* Accessibility and Print Styles */
@media print {
    body {
        font-size: 12pt;
        line-height: 1.5;
    }
}