@media screen and (max-width: 800px) {





    #first h1, #first h2, #first h4{
        margin-left: 2px !important;
        margin-block: 10px;
    }

    #first{
        margin-inline: 28px;
        height: 78vh;
        padding-top: 20vh;
    }

    .hideonmobile{
        display: none !important;
    }

    #first h2{
        font-size:18px;
        padding-bottom: 20px;
    }

    #first h4{
        margin-top: 30px;
        font-size: 16px;
    }

    #first h1{
        font-size: 43px;
        line-height: 58px;
        margin-bottom: 20px;
        letter-spacing: -2px;
    }

    #heroimg{
        position: absolute ;
        width: 100%;
        bottom: 0% !important;
        right: 0%;
        top: 70vh;
    }

    .download{
        margin: 0%;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-block: 30px;
        position: relative;
        z-index: 90;
    }

    .download button{
        height: 60px;
    }

    .avatar-stack {
        margin-left: 0px !important;
    }

    .avatars h5{
        align-items: baseline;
        display: flex;
        margin: 0%;
        font-size: 14px !important;
          font-weight: 500;
          margin-left: 10px !important;
    }

    .mobile{
        display: flex !important;
    }

      .avatar-wrapper{
          width: 20px !important;
          height: 20px !important;
  }

  .avatars{
    margin-top: 40px !important;
  }

}
