@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

.referpage {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 120px;
}

#referpage h1{
font-size: 90px;
letter-spacing: -2px;
text-align: center;
margin-block: 0px;
font-weight: 400;
margin-top: 90px;
}

.youngman-wrapper {
    position: relative;
    width: 70%;
}


.lightgraytext{
    font-family: 'Poppins';
font-weight: 400;
font-size: 30px;
color: var(--gray);

letter-spacing: 0%;
text-align: center;
vertical-align: middle;
text-transform: lowercase;
/* width: 50vw; */

}

.youngman-wrapper img {
    width: 100%;
    display: block;
    border-radius: 50px;
    height: 600px;
    object-fit: cover;
    border: 3px solid;
}

.imp-button{
  font-family: "Poppins";
    border: 3px solid;
    font-weight: 500;
    border-radius:50px;
    background-color: white;
    padding: 15px;
    padding-inline: 40px;
    font-size: 25px;
    margin-bottom: 60px;
    text-decoration: none;
    color: black;
}

.ownercardcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 90px;
    padding: 50px;
}

.ownercard{
    width: 400px;
    height: max-content;
}

.secondblack{
    font-weight: 500;
    width: 100%;
    text-align: center;
    font-size: 32px;
    margin-top: -10px;
    margin-bottom: 40px;
    font-weight: 500;
}

.youngman-wrapper::before {
    content: '';
    position: absolute;
    top: 30;
    left: -30;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background: black;
    z-index: -1;
}

.card3{
    border: 2px solid;
    border-radius: 40px;
    margin-bottom: 70px;
    width: 50vw;
    padding: 40px;
    position: relative;
    background-color: rgb(255, 255, 255);
    padding-block: 0px;
}

.card3 h2{
    margin: 0%;
}

.card3 p{
    font-size: 30px;
    padding-top: 20px;
    width: 80%;
    font-weight: 500;
}

.card3::after {
    content: '';
    position: absolute;
    top: 20;
    left: -20;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background: black;
    z-index: -1;
}

.denner-referral-loading{
  background-color: var(--gray) !important;
  pointer-events: none;
}

.number2{
    font-size: 90px;
    font-weight: 400;
}

.denner-carousel-wrapper {
  width: 100%;
  overflow: hidden;
  padding: 40px 0;
}

.denner-carousel-track {
  display: flex;
  gap: 24px;
  width: max-content;
  animation: denner-pendulum 100s ease-in-out infinite alternate;
}

@keyframes denner-pendulum {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-90%);
  }
  100% {
    transform: translateX(0);
  }
}


.denner-carousel-review {
font-weight: 500;
font-size: 30px;
}


.denner-carousel-name {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
 
}

.denner-carousel-user{
    margin-top: auto;
}

.denner-carousel-location {
  font-size: 22px;
  margin: 0;
}

/* referral form */

.denner-referral-wrapper {
  display: flex;
  justify-content: center;
  padding: 40px 16px;
  width: 80%;
}

.denner-referral-card {
  width: 80%;
  background: white;
  border-radius: 20px;
  padding: 28px;
  border: 1px solid;
  padding: 70px;
  border-radius: 100px;
  padding-inline: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.denner-referral-step {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 16px;
}

.denner-referral-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.denner-referral-group label {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 6px;
}

.denner-referral-group input,
.denner-referral-group select {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  outline: none;
  font-size: 14px;
  width: 50%;
}

.denner-referral-phone {
  display: flex;
  align-items: center;
  gap: 8px;
}

.denner-referral-phone span {
  font-size: 14px;
  color: #555;
}

.denner-referral-phone b{
    font-size: large;
}

.denner-referral-phone input {
  margin-left: 10px;
}

hr {
  border: none;
  border-top: 1px solid #e6e6e6;
  margin: 20px 0;
}

.denner-referral-submit {
  margin-top: 20px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 22px;
  background: black;
  color: white;
  border: none;
  border-radius:  20px;
  font-size: 20px;
  cursor: pointer;
}


#first-title{
line-height: 100%;
}

@media screen and (max-width: 800px) {

  #first-title{
    line-height: 120% !important;
}

    #referpage{
        width: auto;
    }

    .referpage h1{
      margin-top: 0% !important;
    font-size: 45px !important;
    line-height: 100%;
}


.referpage p{
    font-size: small;
    width: 80%;
    margin-block: 12px;
}

.imp-button{
    scale: 0.8;
    margin-bottom: 40px;
}


.youngman-wrapper, .youngman-wrapper img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 40px;
    border-width: 2px;
}

.youngman-wrapper::before {
    content: '';
    position: absolute;
    top: 15;
    left: -15;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background: black;
    z-index: -1;
}

.ownercardcontainer{
    width: 90vw;
    padding: 0%;
}

.ownercard{
    width: 80vw;
}
.ownerstepcontainer{
    width: 100%;
    padding: 0%;
}

.secondblack{
  letter-spacing: 0px;
  font-size: 12px !important;
  margin-bottom: 35px;
}

.card3{
    width: 60vw;
    padding-block: 30px;
    margin-bottom: 30px;
    border-radius: 30px;
    min-height: 230px;
    display: flex;
    flex-direction: column;
}


.card3::after {
    content: '';
    position: absolute;
    top: 10;
    left: -10;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background: black;
    z-index: -1;
}

.card3 h2{
font-size: 42px;
}

.card3 p{
  margin-top: auto;   /* pushes it to bottom */
  width: 100%;
  font-size: 19px;
  color:var(--gray);
  margin-bottom: 0%;
  padding-bottom: 0%;
}

.denner-referral-wrapper{
    width: 90%;
}

.denner-referral-card{
    padding: 0%;
    margin: 0%;
    padding: 24px;
    border-radius: 50px;
}

.denner-referral-step {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 16px;
}


.denner-referral-group label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
  letter-spacing: 0px;
}

.denner-referral-group input,
.denner-referral-group select {
  padding: 18px 14px;
  border-radius: 16px;
  border: 1px solid #e0e0e0;
  outline: none;
  font-size: 14px;
  width: auto;
}

.denner-referral-group input::placeholder {
  letter-spacing: 0cap;
}

.denner-referral-group select{
  letter-spacing: 0cap;
  background-color: white;
}

.denner-referral-group input[type="date"] {
  background-color: white;
}


.denner-referral-phone {
  display: flex;
  align-items: center;
  gap: 8px;
}

.denner-referral-phone span {
  font-size: 14px;
  color: #555;
}

.denner-referral-phone b{
    font-size: small;
}

.denner-referral-phone input {
  margin-left: 10px;
  width: 70%;
}

.denner-referral-submit{
    margin: 0%;
    width: 100%;
    font-size: small;
    
}
}