RewriteEngine On

# Force HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Allow direct access to files ONLY (not folders)
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# All other routes go to index.html
RewriteRule ^ index.html [L]
