:root {
  --font-poppins: "Poppins", sans-serif;
  --gray : #626262;
}

a{
  cursor: pointer;
}

button{
  cursor: pointer;
}

*{
  letter-spacing: -1px;
}

body{
  padding: 0%;
  margin: 0%;
  font-family: var(--font-poppins);
}

.poppins{
  font-family: 'Poppins';
}

.italic{
  font-style: italic;
}

.serif{
font-family: 'DM Serif Display' !important;
}

.flex{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.white{
  color: white !important;
}

.gray{
  color: var(--gray);
}